
body{
	margin: 0;
	font-family: 'Libre Franklin';
}


/*REUSABLES*/
.d-ib{
	display: inline-block;
}

.p-r{
	position: relative;
}

/*HEADER*/
#nav-header{
	height: 80px;
	position: fixed;
	text-align: center;
	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	width: 100%;
	z-index: 1;
}
#nav-header ul{
	margin: 0;
}
.menu-list{
	margin: 0 10px;
}
.menu-list a{
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 700;
}
.bg-header{
	background-color: rgba(0,0,0,0.81);
}
.menu-list:hover a{
	color: #CA9C22;
}
.logo a{
	font-family: 'Leckerli One', cursive;
	top: 10px;
	position: relative;
	margin: 0 20px;
	text-decoration: none;
	font-size: 50px;
	color: #ECB100;
}

/*Slide*/
#slider{
	width:100%;
	position: relative;
}
.img-slider{
	width: 100%;
	display: none;
}
/*.button-slider{
	margin: 0 8px;
	height:13px;
	width:13px;
	text-align:center;
	cursor:pointer;
	border-radius:50%;
	background-color:transparent;
	border:1px solid #ccc;
}
.button-tranparente{
	background-color: transparent;
}
.button-white{
	background-color: white;
}
.button-slider:hover{
	background-color:#fff;
}
.button-box{
	display:inline-block;
	position:absolute;
	left:48%;
	bottom:150px;
}
*/
.food-container{
	display: inline-block;
	margin: 5px 100px;
}

.tituloComida{
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size: 120px;
	font-family: 'Leckerli One';
	font-weight: 300;
	padding-top: 150px;
}

.nombreComida{
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Libre Franklin';
	display: inline-block;
	font-weight: 300;
}

.descripcionComida{
	margin: 0 auto;
	font-size: 15px;
	font-family:'Advent Pro';
	display: inline-block;
}

.contenedorVideo{
	margin: 0 auto;
	display: inline-block;
	position: relative;
	width: 400px;
	height: 400px;
	cursor: pointer;
}

.video{
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

.play{
	background-color: none;
	display: none;
}


/*NOSOTROS*/
#nosotros{
	margin: -100px 0;
	height: 700px;
}
#container-nosotros{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 100px;
}
#container-nosotros h1{
	font-family: 'Leckerli One';
	font-size: 80px;
	font-weight: lighter;
}
#container-nosotros p{
	font-size: 20px;
	letter-spacing: 2px;
}

#container-entradas,
#container-principal,
#container-postres,
#container-suscribete{
	background-size: cover;
	height: 500px;
}


/*Entradas*/
#container-entradas{
	background-image: url('../img/slide4.png');
}

/*Principal*/
#container-principal{
	background-image: url('../img/slide5.png');
}

<<<<<<< HEAD
#h1Postres{
	color: #C80600;
}

form{
	margin: 20px 340px;
	padding: 20px;
	width: 600px;
	height: 100%;
	border-radius: 5px;
	border: 2px solid black;
}
#form-subscribe-heading{
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px #DEDEDE;
}

label{
	width: 300px;
	height: 140px;
	margin-right: 10px;
}

input {

  border: 2px solid #999;
  border-radius: 7px;
  -webkit-appearance: none;
  width: 400px;
  height: 40px;
  margin-left: 20px;
  text-align: left;
}

.btn, .btn:hover{
  background-color: none;
  border-color: #333;
  height: 40px;
  width: 180px;
  border-radius: 7px;
  margin-left: 200px;

/*Postres*/
#container-postres{
	background-image: url('../img/slide6.png');
}

/*Suscribirse*/
#container-suscribete{
	background-image: url('../img/suscribete.png');
	height: 700px;
	bottom: 0;
}

/*Footer*/
footer{
	background-color: black;
}
#container-footer{
	background-image: url('../img/footer.png');
	bottom: 44px;
	width: 100%;
	height: 200px;
	position: relative;
}
#text-footer{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 120px;
	margin-top: 80px;
}
.box-text{
	margin: 0 5%;
	display: inline-block;
	width: 250px;
	height: 100%;
	background-color: white;

}
