
body{
	margin: 0;
	font-family: 'Libre Franklin';
}

/*REUSABLES*/
.d-ib{
	display: inline-block;
}
.d-b{
	display: block;
}

.p-r{
	position: relative;
}
.p-a{
	position: absolute;
}

/*HEADER*/
#nav-header{
	height: 80px;
	position: fixed;
	text-align: center;
	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	width: 100%;
	z-index: 1;
}
#nav-header ul{
	margin: 0;
}
.menu-list{
	margin: 0 10px;
}
.menu-list a{
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 700;
}
.bg-header{
	background-color: rgba(0,0,0,0.81);
}
.menu-list:hover a{
	color: #CA9C22;
}
.logo a{
	font-family: 'Leckerli One', cursive;
	top: 10px;
	position: relative;
	margin: 0 20px;
	text-decoration: none;
	font-size: 50px;
	color: #ECB100;
}

/*Slide*/
#slider{
	width:100%;
	position: relative;
}
.img-slider{
	width: 100%;
	display: none;
}

.food-container{
	display: inline-block;
	margin: 100px 100px;
}

.tituloComida{
	color: white;
	text-align: center;
	margin: 0 auto;
	font-size: 120px;
	font-family: 'Leckerli One';
	font-weight: 300;
	padding-top: 150px;	
}

.nombreComida{
	margin: 5px 10px;
	margin-left: 90px;
	font-size: 20px;
	font-family: 'Libre Franklin';
	display: inline-block;
	font-weight: 300px;
	cursor: pointer;
}

.descripcionComida{
	margin: 5px 10px;
	margin-left: 180px;
	font-size: 18px;
	font-family:'Advent Pro';
	display: inline-block;
}

.ensalada{
	color: #014900;
}

.densalada{
	color: #3E7A00;
}

.principal{
	color: #CB7F00;
}

.dprincipal{
	color: #E18F00;
}

.postre{
	color: #A81825;
}

.dpostre{
	color: #E64543;
}

.contenedorVideo{
	margin: 0 auto;
	display: inline-block;
	position: relative;
	width: 400px;
	height: 400px;
	cursor: pointer;
}

.video{
	margin: 0 auto;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

.play{
	background-color: none;
	display: none;
}


/*NOSOTROS*/
#nosotros{
	margin: -100px 0;
	height: 700px;
}
#container-nosotros{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 100px;
}
#container-nosotros h1{
	font-family: 'Leckerli One';
	font-size: 80px;
	font-weight: lighter;
}
#container-nosotros p{
	font-size: 20px;
	letter-spacing: 2px;
}

#container-entradas,
#container-principal,
#container-postres,
#container-suscribete{
	background-size: cover;
	height: 500px;
}


/*Entradas*/
#container-entradas{
	background-image: url('../img/slide4.png');
}

/*Principal*/
#container-principal{
	background-image: url('../img/slide5.png');
}

/*Postres*/
#container-postres{
	background-image: url('../img/slide6.png');
}

/*Suscribirse*/
#container-suscribete{
	background-image: url('../img/suscribete.png');
	height: 800px;
}
form{
	position: relative;
	top: 140px;
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	height: 500px;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
}
#form-subscribe-heading{
	font-family: 'Leckerli One', cursive;
	color: white;
	font-size: 60px;
	font-weight: 300;
	margin: 10px 0;
}
.info-form{
	color: white;
}
.input-registro{
	border-radius: 15px 15px 15px 15px;
	width: 280px;
	padding: 10px 20px;
	margin: 0 auto;
	outline: 0;
	display: block;
}
.btn{
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	padding: 5px 20px;
}
.btn:hover{
	transform: scale(1.1);
	color: #4C4C4C;
	outline: 0;
}
#formulario span{
	color: white;
}

/*Modal*/

.estilos{
	opacity:0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 3;
	position: fixed;
	top: 0;
	cursor: pointer;
	-webkit-transition: all linear 0.25s;
	transition: all linear 0.25s;
	overflow: scroll;
	visibility: hidden;
}

.estilos.active{
	opacity: 1;
	visibility: visible;
	-webkit-transition: all linear 0.25s;
	transition: all linear 0.25s;
	overflow: scroll;
}

.estilos span{
	color: white;
	font-size: 90px;
	position: absolute;
	margin-left: 990px;
	cursor: pointer;
}

.receta{
	display: none;
}

.aparecer{
	color: white;
	border: 6px solid white;
	border-radius: 8px;
	display: block;	
	padding: 10px 40px;	
	margin: 140px auto;
	width: 400px;
	overflow: hidden;
}

/*Footer*/
footer{
	background-color: black;
}
#container-footer{
	background-image: url('../img/footer.png');
	bottom: 40px;
	width: 100%;
	height: 250px;
	position: relative;
}
.menu-footer {
	top:110px;
	left: 10%;
	font-size: 14px;
}
.box-text a,
.text-footer a{
	color: #7D7D7D;
	text-decoration: none;
}
.text-footer a:hover,
.box-text a:hover{
	color: #CA9C22;
}
.contacto-footer{
	font-size: 14px;
	line-height: 5px;
	top :90px;
	color: #7d7d7d;
	right: 10%;
}
.icon-footer{
	text-decoration: none;
	color: #7D7D7D;
	font-size: 30px;
	margin: 0 8%;
}
.icon-facebook:hover{
	color: #3B5998;
}
.icon-twitter:hover{
	color: #1DA1F2;
}
.icon-instagram:hover{
	color: #FEAE19;
}
.text-footer{
	text-align: center;
	color: #7D7D7D;
	top: 250px;
	left: 33%;
	font-size: 12px;
}
.box-logo{
	top: 50px;
	left: 43%;
}
.box-logo p {
	font-size: 60px;
	color: #7D7D7D;
	font-family: 'Leckerli One', cursive;
	margin: 20px 0;
}
.box-logo p:hover{
	color: #4C4C4C;
}
.box-logo span{
	position: relative;
}